html {
  font-size: 10px;
  background-color: rgba(210, 210, 210, 0.5);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  color: #00B7FF;
}

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(180, 180, 180, 0.4);
}

main{
  text-indent: 50px;
}
a{
  color: black;
}